.box{
    // background-image: url('../background.webp');
    position: relative;
    text-align: center;
    color: white;

    .textattr{
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -70%);
        font-size: 50px;
    }
}