.header {
    height: 50px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
  
    .options {
      width: fit-content;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
    
  }
  